<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.appintro.appintroexample">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme"
        android:supportsRtl="true">
        <activity android:name="com.github.appintro.example.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.appintro.example.ui.mainTabs.intro.DefaultIntro"
            android:label="@string/app_name"
            android:theme="@style/AppIntroStyle"/>
        <activity
            android:name="com.github.appintro.example.ui.mainTabs.intro.DefaultIntro2"
            android:label="@string/app_name"
            android:theme="@style/AppIntroStyle"/>
        <activity
            android:name="com.github.appintro.example.ui.mainTabs.intro.CustomLayoutIntro"
            android:label="@string/app_name"
            android:theme="@style/AppIntroStyle"/>
        <activity
            android:name="com.github.appintro.example.ui.mainTabs.intro.CustomBackgroundIntro"
            android:label="@string/app_name"
            android:theme="@style/AppIntroStyle"/>

        <activity
            android:name="com.github.appintro.example.ui.permsTabs.intro.PermissionsIntro1"
            android:label="@string/app_name"
            android:theme="@style/AppIntroStyle"/>
        <activity
            android:name="com.github.appintro.example.ui.permsTabs.intro.PermissionsIntro2"
            android:label="@string/app_name"
            android:theme="@style/AppIntroStyle"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>