<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.paolorotolo.appintroexample">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <activity android:name="com.amqtech.opensource.appintroexample.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.amqtech.opensource.appintroexample.ui.mainTabs.intro.DefaultIntro"
            android:label="@string/app_name"
            android:theme="@style/AppIntroTheme"/>
        <activity
            android:name="com.amqtech.opensource.appintroexample.ui.mainTabs.intro.DefaultIntro2"
            android:label="@string/app_name"
            android:theme="@style/AppIntroTheme"/>
        <activity
            android:name="com.amqtech.opensource.appintroexample.ui.mainTabs.intro.CustomLayoutIntro"
            android:label="@string/app_name"
            android:theme="@style/AppIntroTheme"/>
        <activity
            android:name="com.amqtech.opensource.appintroexample.ui.mainTabs.intro.CustomBackgroundIntro"
            android:label="@string/app_name"
            android:theme="@style/AppIntroTheme"/>

        <activity
            android:name="com.amqtech.opensource.appintroexample.ui.permsTabs.intro.PermissionsIntro1"
            android:label="@string/app_name"
            android:theme="@style/AppIntroTheme"/>
        <activity
            android:name="com.amqtech.opensource.appintroexample.ui.permsTabs.intro.PermissionsIntro2"
            android:label="@string/app_name"
            android:theme="@style/AppIntroTheme"/>
    </application>

</manifest>